@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="DesktopDivContainer">
    <div class="Page" id="Home" show>
        <div class="container">
            <div class="navbarContainer">
                <div class="navbar">
                    <img src="img/Logo/FullLogo-light.png" alt="EsFamilo Logo">
                    <div class="profileNav">
                        <div class="profileImg" style="background-image:url(img/User-Profile-PNG-Image.png);background-size: cover;"></div>
                        <div class="profileDetail">
                            <p class="profileUsername">@Model.CurrentUser.UserName</p>
                            <p class="profileScore">@Model.CurrentUser.Score<i class="starScore fa-solid fa-star"></i></p>
                        </div>
                    </div>
                    <div class="menuNav">
                        <button class="menuBtn"><i class="fa-solid fa-user-group"></i></button>
                        <button class="menuBtn selected"><i class="fa-solid fa-house"></i></button>
                        <button class="menuBtn" id="OpenProfileBtn"><i class="fa-solid fa-user"></i></button>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="manageLobby">
                    <div class="joinLobby">
                        <button id="OpenLobbiesPage">پیوستن به لابی</button>
                    </div>
                    <div class="createLobby">
                        <button id="OpenCreateLobbyPage">ساخت لابی</button>
                    </div>
                    <div class="ruleAndHint">

                        <button class="hint">
                            <i class="fa-solid fa-book-open"></i>راهنما
                        </button>

                        <button class="rule">
                            <i class="fa-solid fa-list-check"></i>قوانین
                        </button>
                    </div>
                </div>

            </div>
            <div class="chat">
                <div class="messages">
                    <div class="warningMessage">
                        <h4>لطفا برای ارسال پیام وارد یک لابی شوید</h4>
                    </div>
                </div>
                <div class="sendMessage">
                    <form id="sendMessageForm">
                        <textarea name="" id=""></textarea>
                        <input type="submit" value="ارسال پیام">
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="Page" id="ProfilePage">
        <div class="container">
            <div class="navbarContainer">
                <div class="navbar">
                    <img src="img/Logo/FullLogo-light.png" alt="EsFamilo Logo">

                    <div class="menuNav">
                        <button class="menuBtn"><i class="fa-solid fa-user-group"></i></button>
                        <button class="menuBtn" id="OpenHomeBtnInProfile"><i class="fa-solid fa-house"></i></button>
                        <button class="menuBtn selected"><i class="fa-solid fa-user"></i></button>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="profile">
                    <div class="profileImg" style="background-image:url(img/User-Profile-PNG-Image.png);background-size: cover;"></div>
                    <div class="profileDetail">
                        <p class="profileUsername">@Model.CurrentUser.UserName</p>
                        <p class="profileScore">@Model.CurrentUser.Score<i class="starScore fa-solid fa-star"></i></p>
                    </div>
                    <div class="profileHandle">
                        <button class="profileHandleBtn profileHandleBtnWin">
                            <p>تعداد برد:</p>
                            <p>@Model.CurrentUser.Win</p>
                        </button>
                        <button class="profileHandleBtn" id="BtnOpenUpdataProfileFromProfile">
                            ویرایش پروفایل
                        </button>
                        <form asp-page-handler="SignOutUserForm" style="width:50%">
                            <button class="profileHandleBtn" style="width:100%">
                                خروج از حساب کاربری
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="chat">
                <div class="messages">
                    <div class="warningMessage">
                        <h4>لطفا برای ارسال پیام وارد یک لابی شوید</h4>
                    </div>
                </div>
                <div class="sendMessage">
                    <form id="sendMessageForm">
                        <textarea name="" id=""></textarea>
                        <input type="submit" value="ارسال پیام">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="Page" id="CreateLobby">
        <div class="container">
            <div class="navbarContainer">
                <div class="navbar">
                    <img src="img/Logo/FullLogo-light.png" alt="EsFamilo Logo">
                    <div class="profileNav">
                        <div class="profileImg"></div>
                        <div class="profileDetail">
                            <p class="profileUsername">نام کاربری</p>
                            <p class="profileScore">9861<i class="starScore fa-solid fa-star"></i></p>
                        </div>
                    </div>
                    <div class="menuNav">
                        <button class="menuBtn" id="CloseCreateLobbyPage"><i class="fa-solid fa-close"></i></button>
                    </div>
                </div>
            </div>
            <div class="main">
                <form id="CreateLobbyForm">
                    <input type="text" id="LobbyNameForm" class="lobbyName" placeholder="نام لابی را وارد کنید">
                    <div class="lobbyDetail">
@*                        <div class="privateLobby">
                            <input type="checkbox" id="CheckPrivateLobby" style="display:none" />
                            <div class="divCheck" id="BtnCheckPrivateLobby"><i class="fa-solid fa-check"></i></div>
                            <p>لابی اختصاصی</p>
                        </div>*@
                        <div class="roundCount">
                            <input type="number" id="roundCountLobby" min="1" max="8" value="1">
                            <label for="">تعداد دور</label>
                        </div>
                        <div class="roundCount">
                            <input type="number" id="limitUserLobbyCount" min="2" max="12" value="3">
                            <label for="">تعداد نفرات</label>
                        </div>
                    </div>
                    <div class="lobbyCategory">
                        <h3>انتخاب دسته</h3>
                        <div class="lobbyCategoryContainer">
                            <div class="category">
                                <div class="categoryBtn categoryChecked" id="Names">اسم <i class="fa fa-check"></i></div>
                            </div>
                            <div class="category">
                                <div class="categoryBtn categoryChecked" id="Lnames">فامیل <i class="fa fa-check"></i></div>
                            </div>
                            <div class="category">
                                <div class="categoryBtn" id="Cities">شهر <i class="fa fa-x"></i></div>
                            </div>
                            <div class="category">
                                <div class="categoryBtn" id="Countries">کشور <i class="fa fa-check"></i></div>
                            </div>
                            <div class="category">
                                <div class="categoryBtn" id="Colors">رنگ <i class="fa fa-check"></i></div>
                            </div>
                            <div class="category">
                                <div class="categoryBtn" id="Fruits">میوه <i class="fa fa-check"></i></div>
                            </div>
                            <div class="category">
                                <div class="categoryBtn" id="Cars">ماشین <i class="fa fa-check"></i></div>
                            </div>
                            <div class="category">
                                <div class="categoryBtn" id="Animals">حیوان <i class="fa fa-check"></i></div>
                            </div>
                            <div class="category">
                                <div class="categoryBtn" id="Objects">اشیا <i class="fa fa-check"></i></div>
                            </div>
                            <div class="category">
                                <div class="categoryBtn" id="Foods">غذا <i class="fa fa-check"></i></div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="ساخت لابی" class="createLobbySubmit">
                </form>
            </div>
            <div class="chat">
                <div class="messages">
                    <div class="warningMessage">
                        <h4>لطفا برای ارسال پیام وارد یک لابی شوید</h4>
                    </div>
                </div>
                <div class="sendMessage">
                    <form id="sendMessageForm">
                        <textarea name="" id=""></textarea>
                        <input type="submit" value="ارسال پیام">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="Page" id="Lobbies">
        <div class="container">
            <div class="navbarContainer">
                <div class="navbar">
                    <img src="img/Logo/FullLogo-light.png" alt="EsFamilo Logo">
                    <div class="profileNav">
                        <div class="profileImg"></div>
                        <div class="profileDetail">
                            <p class="profileUsername">نام کاربری</p>
                            <p class="profileScore">9861<i class="starScore fa-solid fa-star"></i></p>
                        </div>
                    </div>
                    <div class="menuNav">
                        <button class="menuBtn" id="CloseLobbiesPage"><i class="fa-solid fa-close"></i></button>
                    </div>
                </div>
            </div>
            <div class="main">
                <ul class="listLobby" id="ListOfLobbiesInLobbiesPage">
                    @if(Model.ListOfLobbies.Count > 0)
                    {
                        @foreach (var i in Model.ListOfLobbies)
                        {
                            <li id="@i.LobbyGuid">
                                <div class="listLobbyDetail">
                                    <p class="listLobbyName">@i.LobbyName</p>
                                    <p class="listLobbyUser">@i.LimitUserCount/@i.CountUserInLobby <i class="fa fa-eye"></i></p>
                                </div>
                                <a href="/Lobby/@i.LobbyGuid" class="listLobbyOpen"><i class="fa fa-door-open"></i></a>
                            </li>
                        }
                    }


                </ul>
                <div class="createLobbyInList">
                    <button class="createLobbyInListBtn">ساخت لابی جدید</button>
                </div>

            </div>
            <div class="chat">
                <div class="messages">
                    <div class="warningMessage">
                        <h4>لطفا برای ارسال پیام وارد یک لابی شوید</h4>
                    </div>
                </div>
                <div class="sendMessage">
                    <form id="sendMessageForm">
                        <textarea name="" id=""></textarea>
                        <input type="submit" value="ارسال پیام">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="Page" id="UpdateProfile">
        <div class="container">
            <div class="navbarContainer">
                <div class="navbar">
                    <img src="img/Logo/FullLogo-light.png" alt="EsFamilo Logo">
                    <div class="profileNav">
                        <div class="profileImg" style="background-image:url(img/User-Profile-PNG-Image.png);background-size: cover;"></div>
                        <div class="profileDetail">
                            <p class="profileUsername">@Model.CurrentUser.UserName</p>
                            <p class="profileScore">@Model.CurrentUser.Score<i class="starScore fa-solid fa-star"></i></p>
                        </div>
                    </div>
                    <div class="menuNav">
                        <button class="menuBtn" id="BtnCloseProfileFromProfile"><i class="fa-solid fa-close"></i></button>
                    </div>
                </div>
            </div>
            <div class="main">
                <form asp-page-handler="UpdateProfileForm" enctype="multipart/form-data" class="updateProfileForm">
                    <input type="text" placeholder="نام و نام خانوادگی" name="FullName" value="@Model.CurrentUser.FullName">
                    <input type="email" placeholder="ایمیل(برای فراموشی رمز)" name="Email" value="@Model.CurrentUser.Email">
                    <p>عکس پروفایل</p>
                    <input type="file" name="ProfileImgUpdateProfile">
                    <div class="register">
                        <button type="submit">
                            ویرایش پروفایل کاربری
                        </button>
                    </div>
                </form>

            </div>
            <div class="chat">
                <div class="messages">
                    <div class="warningMessage">
                        <h4>لطفا برای ارسال پیام وارد یک لابی شوید</h4>
                    </div>
                </div>
                <div class="sendMessage">
                    <form id="sendMessageForm">
                        <textarea name="" id=""></textarea>
                        <input type="submit" value="ارسال پیام">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="MobileDivContainer">
    <div class="Page" id="Home" show>
        <div class="header">
            <p class="score">9861<i class="starScore fa-solid fa-star"></i></p>
            <div class="headerlogo">
                <img src="img/Logo/FullLogo-light.png" alt="logo">
            </div>
            <p class="userNameHeader">نام کاربری</p>
        </div>
        <div class="main">
            <div class="JoinTheLobby">
                <button>
                    پیوستن به لابی
                </button>
            </div>

            <div class="createLobby">
                <button>
                    ساخت لابی
                </button>
            </div>
            <div class="ruleAndHint">

                <button class="hint">
                    <i class="fa-solid fa-book-open"></i>راهنما
                </button>

                <button class="rule">
                    <i class="fa-solid fa-list-check"></i>قوانین
                </button>
            </div>
        </div>
        <div class="footer">
            <button class="menuBtn"><i class="fa-solid fa-user-group"></i></button>
            <button class="menuBtn selected"><i class="fa-solid fa-house"></i></button>
            <button class="menuBtn"><i class="fa-solid fa-user"></i></button>
        </div>
    </div>
    <div class="Page" id="ProfilePage">
        <div class="header">
            <!-- <p class="score">9861<i class="starScore fa-solid fa-star"></i></p> -->
            <div class="headerlogo">
                <img src="img/Logo/FullLogo-light.png" alt="logo">
            </div>

            <!-- <p class="userNameHeader">نام کاربری</p> -->
        </div>
        <div class="main">
            <div class="profile">
                <div class="profileImg"></div>
                <div class="profileDetail">
                    <p class="profileUsername">نام کاربری</p>
                    <p class="profileScore">9861<i class="starScore fa-solid fa-star"></i></p>
                </div>
                <div class="profileHandle">
                    <button class="profileHandleBtn profileHandleBtnWin">
                        <p>تعداد برد:</p>
                        <p>123</p>
                    </button>
                    <button class="profileHandleBtn">
                        ویرایش پروفایل
                    </button>
                    <button class="profileHandleBtn">
                        خروج از حساب کاربری
                    </button>
                </div>
            </div>
        </div>
        <div class="footer">
            <button class="menuBtn"><i class="fa-solid fa-user-group"></i></button>
            <button class="menuBtn"><i class="fa-solid fa-house"></i></button>
            <button class="menuBtn selected"><i class="fa-solid fa-user"></i></button>
        </div>
    </div>
    <div class="Page" id="CreateLobby">
        <div class="header">
            <p class="score" id="ClosePage"><i class="starScore fa-solid fa-x"></i></p>
            <div class="headerlogo">
                <img src="img/Logo/FullLogo-light.png" alt="logo">
            </div>
            <p class="userNameHeader">نام کاربری</p>
        </div>
        <div class="main">
            <form action="" id="CreateLobbyForm">
                <input type="text" name="LobbyName" class="lobbyName" placeholder="نام لابی را وارد کنید">
                <div class="lobbyDetail">
                    <div class="privateLobby">
                        <div class="divCheck"><i class="fa-solid fa-check"></i></div>
                        <p>لابی اختصاصی</p>
                    </div>
                    <div class="roundCount">
                        <input type="number" name="roundCount" min="1" max="8" value="1">
                        <label for="">تعداد دور</label>
                    </div>
                </div>
                <div class="lobbyCategory">
                    <h3>انتخاب دسته</h3>
                    <div class="lobbyCategoryContainer">
                        <div class="category">
                            <div class="categoryBtn categoryChecked">اسم <i class="fa fa-check"></i></div>
                        </div>
                        <div class="category">
                            <div class="categoryBtn categoryChecked">فامیل <i class="fa fa-check"></i></div>
                        </div>
                        <div class="category">
                            <div class="categoryBtn categoryChecked">شهر <i class="fa fa-check"></i></div>
                        </div>
                        <div class="category">
                            <div class="categoryBtn categoryChecked">کشور <i class="fa fa-check"></i></div>
                        </div>
                        <div class="category">
                            <div class="categoryBtn categoryChecked">رنگ <i class="fa fa-check"></i></div>
                        </div>
                        <div class="category">
                            <div class="categoryBtn categoryChecked">میوه <i class="fa fa-check"></i></div>
                        </div>
                        <div class="category">
                            <div class="categoryBtn categoryChecked">ماشین <i class="fa fa-check"></i></div>
                        </div>
                        <div class="category">
                            <div class="categoryBtn categoryChecked">حیوان <i class="fa fa-check"></i></div>
                        </div>
                        <div class="category">
                            <div class="categoryBtn categoryChecked">اشیا <i class="fa fa-check"></i></div>
                        </div>
                        <div class="category">
                            <div class="categoryBtn categoryChecked">غذا <i class="fa fa-check"></i></div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="ساخت لابی" class="createLobbySubmit">
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/Paging.js"></script>
    <script src="~/js/ManageLobby.js"></script>

    <script>
        //$("#BtnCheckPrivateLobby").click(function (e) {
        //    e.preventDefault();
        //    if ($("#BtnCheckPrivateLobby").hasClass("divChecked")) {
        //        $("#CheckPrivateLobby").attr("checked", false);
        //        $("#BtnCheckPrivateLobby").removeClass("divChecked");
        //    } else {
        //        $("#CheckPrivateLobby").attr("checked", true);
        //        $("#BtnCheckPrivateLobby").addClass("divChecked");
        //    }
        //});
        checkcategoryischeckofnot();
        $(".categoryBtn").click(function (e) {
            var isselected = $(this).hasClass("categoryChecked");
            if (isselected == true) {
                $(this).removeClass("categoryChecked");
                checkcategoryischeckofnot();
            } else {
                $(this).addClass("categoryChecked");
                checkcategoryischeckofnot();
            }
        })
        $("#CreateLobbyForm").submit(function (e) {
            e.preventDefault();
            var categoryChecked = document.getElementsByClassName("categoryChecked");
            var categorycheckedString = ""
            var LobbyName = $("#LobbyNameForm").val();
            //var isPrivateLobby = ($("#CheckPrivateLobby").attr("checked") == "checked") ? true : false
            var roundCount = $("#roundCountLobby").val();
            var limitusercount = $("#limitUserLobbyCount").val();
            for (var i of categoryChecked) {
                categorycheckedString += `${i.id},`
            }
            categorycheckedString = categorycheckedString.slice(0, categorycheckedString.length - 1)
            var data = {
                LobbyName: LobbyName,
                IsPrivateLobby: false,
                RoundCount: roundCount,
                CategorySelected: categorycheckedString,
                LimitUserCount: limitusercount
            }
            connection.invoke("CreateLobby", JSON.stringify(data)).catch(function (err) {
                return console.error(err.toString());
            });
        })
        function checkcategoryischeckofnot() {
            var categoryChecked = document.getElementsByClassName("categoryBtn");
            for (var i of categoryChecked) {
                if (i.className.indexOf("categoryChecked") != -1) {
                    i.querySelector("i").classList.remove("fa-x")
                    i.querySelector("i").classList.add("fa-check")
                } else {
                    i.querySelector("i").classList.add("fa-x")
                    i.querySelector("i").classList.remove("fa-check")
                }
            }
        }
    </script>
}